@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

html {
	overflow: hidden;
}
.App {
	width: 100vw;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

header {
	height: 15vh;
}

main {
	height: 70vh;
}

footer {
	height: 15vh;
	padding-top: 25px;
}

.container {
	max-width: 80%;
	margin: 0px auto;
}

.shadow {
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.blue-gradient,
.inactive {
	background: linear-gradient(to right, #196bca, #6433e0);
	background-color: #196bca;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	padding: 14px 15px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 12px;
	display: inline-flex;
	transition: all 0.3s;
}
.inactive {
	background: none;
	color: #c1c1c1;
	border: 1px #c1c1c1 solid;
}
.blue-gradient:hover {
	content: 'clear';
	background: linear-gradient(to right, #1866c0, #5f30d5);
	background-color: #1866c0;
}

.blue-gradient:active {
	transform: scale(0.95);
}
