.TodoList {
	display: fixed;
	border-radius: 15px;
	padding: 15px;
}

.Todo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	width: calc(40vw - 70px);
	padding: 15px;
	/* padding-r for two btn */
	padding-right: 70px;
	margin: 20px 0px;

	font-size: 1.5rem;
	border-radius: 15px;
	background: white;
	color: black;
	transition: 0.3s;
}
.Todo:hover {
	transform: scale(1.1);
}

/* for btn ok and del */
/* 35px btn ok and del */
.options {
	display: inline-block;
	position: absolute;
	right: 5px;
}
.options > button {
	width: 35px;
	font-size: 1.5rem;
	font-weight: 400;
	background: none;
}
.btnOk , .btnDel  {
	color: black;
	transition: transform 0.1s;
}

.inactiveItem > .options > * {
	color: white;
}

.btnOk:hover {
	color: green;
	transform: scale(1.1);
}
.btnDel:hover {
	color: red;
	transform: scale(1.1);
}

.Todo:active {
	background: coral;
	color: white;
}
.voidList {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	color: lightgreen;
}
.Img {
	width: 80px;
	margin: 2rem;
}

.taskImg {
	width: 3rem;
	border-radius: 50%;
}
.todoICo {
	color: cadetblue;
	font-size: 2rem;
	margin-right: 10px;
}

.inactiveItem {
	background: rgba(90, 86, 86, 0.469);
	color: white;
	cursor: default;
	background: none;
	border: 5px solid rgba(120, 116, 116, 0.538);
	transition: 0.4s;
}
.inactiveItem:hover {
	transform:scale(99%);
}

.inactiveItem > .options {
	color: white;
}
