.TodoList {
	display: fixed;
	border-radius: 15px;
	padding: 15px;
}

.Todo {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	/* width: calc(40vw - 80px); */
	max-width: 600px;
	padding: 15px;
	/* padding-r for two btn */
	padding-right: 80px;
	margin: 20px 0px;

	font-size: 1.5rem;
	border-radius: 15px;
	background: white;
	color: black;
	transition: 0.3s;
}

@media (max-width: 1180px) {
	.Todo {
		width: calc(70vw - 70px);
	}
}
@media (min-width: 768px) {
	.Todo {
		width: calc(80vw - 70px);
	}
}
@media (max-width: 768px) {
	.Todo {
		width: calc(80vw - 70px);
	}
}
@media (max-width: 500px) {
	.Todo {
		font-size: 1.3rem;
	}
}
.Todo:hover {
	transform: scale(1.1);
}

/* for btn ok and del */
/* 35px btn ok and del */
.options {
	display: inline-block;
	position: absolute;
	right: 10px;
	padding: 0px 0px 0px 15px;
}
.options > button {
	font-weight: 400;
	background: none;
}
.btnOk,
.btnDel,
.btnCancel {
	color: black;
	font-size: 2rem;
	transition: transform 0.1s;
}

.inactiveItem > .options > * {
	color: white;
}

.btnOk:hover {
	color: green;
	transform: scale(1.1);
}
.btnDel:hover {
	color: red;
	transform: scale(1.1);
}
.btnCancel:hover {
	transform: scale(1.1);
}

.Todo:active {
	background: coral;
	color: white;
}
.voidList {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 15vh;
	font-size: 5rem;
	/* color: lightgreen; */
}


@media (max-width: 690px) {
	.voidList {
		font-size: 4rem;
	}
	.voidList > .Img  {	
		width: 60px;
	}
}
/* @media (max-width: 580px) {
	.voidList > .Img  {	
		width: 20vw;
	}
} */
@media (max-width: 400px) {
	.voidList {
		font-size: 3rem;
	}
}

.Img {
	width: 80px;
	margin: 2rem;
}


.todoICo {
	color: cadetblue;
	font-size: 2rem;
	margin-right: 10px;
}

.inactiveItem {
	background: rgba(90, 86, 86, 0.469);
	color: white;
	cursor: default;
	background: none;
	border: 5px solid rgba(120, 116, 116, 0.538);
	transition: 0.4s;
}
.inactiveItem:hover {
	transform: scale(99%);
}

.inactiveItem > .options {
	color: white;
}
