.Form {
	font-size: 1rem;
	margin-top: 5rem;
}
.h1 {
	font-size: 5rem;
}
.formInput {
	width: 100%;
	position: relative;
	margin: 15px 0px 30px 0px;
	transition: 0.3s;
}

.formInput:hover {
	transform: scale(120%);
	font-size: 1.7rem;
}
.input {
	width: calc(80% + 2.3rem);
	padding: 3px 2.3rem 3px 10px;
	font-size: 1.5rem;
	border-radius: 5px;
}

.submit,
.submitActive {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	right: 1.4rem;
	font-size: 1.4rem;
	color: black;
	transition: 0.3s;
}

.submitActive:hover {
	transform: scale(120%) translate(-50%, -50%);
	cursor: pointer;
	color: red;
}


@media (max-width: 560px) {
	.h1 {
		font-size: 4rem;
	}
	.input {
		width: 85%;
		max-width: 400px;
		margin: 0px 5px;
	}
	.submit,
	.submitActive {
		right: 10px;
	}
}
@media (min-width: 250px) and (max-width: 400px) {

	.input {
		width: 70vw;
		font-size: 1.3rem;
	}

	.submit,
	.submitActive {
		top: 15px;
	}
}
@media (min-width: 0px) and (max-width: 560px) {
	.h1 {
		font-size: 10vw;
	}
	.formInput:hover {
		transform: none;
	}
	
}
